In [ ]:
import numpy as np
import csv
import json

In [ ]:
lista = np.array([2,3,4,5,100,-10])
# print(lista, type(lista))

# print(lista + 5)  # suma 5 a todos los elementos de la lista
# print(lista * 5)  # multiplica 5 a todos los elementos de la lista

print(lista.max())

print(lista.min())
print(lista.mean())
print(lista.std())
print(lista.sum())
print(np.median(lista))
print(np.min(lista))

print(lista[0])

100
-10
17.333333333333332
37.308027137452456
104
3.5
-10
2

In [ ]:
from numpy import random as rd

lista =[6 ,7 ,8 ,9 ,10 ,11 ,12]
rd.shuffle(lista)
print(lista)

[9, 7, 6, 10, 12, 11, 8]

In [ ]:
import numpy as np

lista =[6 ,7 ,8 ,9 ,10 ,11 ,12]
np.random.shuffle(lista)
print(lista)

[10, 11, 9, 6, 12, 8, 7]

In [ ]:
#lista =[0,0,0,0,0,0,0,0]
lista = np.ones(10,dtype=int)
print(lista)

[1 1 1 1 1 1 1 1 1 1]

In [ ]:
import pandas as pd
diccionario_pais ={
    "pais"    : ["Brazil", "Russia", "Colombia", "China","panama"],
    "capital" : ["Brasilia", "Moscow", "Bogota", "Pekin","ciudad panama"],
}
info_paises = pd.DataFrame(diccionario_pais, columns=["pais","capital"])
print(info_paises)

       pais        capital
0    Brazil       Brasilia
1    Russia         Moscow
2  Colombia         Bogota
3     China          Pekin
4    panama  ciudad panama

In [ ]:
import pandas as pd

diccionario_pais ={
    "pais"    : ["Brazil", "Russia", "Colombia", "China","panama"],
    "capital" : ["Brasilia", "Moscow", "Bogota", "Pekin","ciudad panama"],
}

diccionario_area ={
    "pais"    : ["Brazil", "Russia", "Colombia", "China","España"],
    "area"    : [8654, 10520, 2225, 9750,1234],
}

#print(diccionario)
info_paises = pd.DataFrame(diccionario_pais, columns=["pais","capital"])
info_paises_area = pd.DataFrame(diccionario_area, columns=["pais","area"])

info_paises_new = info_paises.merge(info_paises_area, how="right", on=["pais"])


#print(info_paises, type(info_paises))

#print(info_paises["pais"])

print(info_paises)
print(info_paises_area)
print(info_paises_new)

       pais        capital
0    Brazil       Brasilia
1    Russia         Moscow
2  Colombia         Bogota
3     China          Pekin
4    panama  ciudad panama
       pais   area
0    Brazil   8654
1    Russia  10520
2  Colombia   2225
3     China   9750
4    España   1234
       pais   capital   area
0    Brazil  Brasilia   8654
1    Russia    Moscow  10520
2  Colombia    Bogota   2225
3     China     Pekin   9750
4    España       NaN   1234

In [ ]:
lista = [2,3,4,5]
print(lista + 5)

TypeError: ignored

In [ ]:
import numpy as np

lista = np.arange(1,11,2,dtype=float)
print(lista)

[1. 3. 5. 7. 9.]

In [ ]:
nombre = input()